@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: #3b413c;
    font-size: 1.2rem;
    font-family:'Nunito Sans', sans-serif;
}

button {
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #9db5b2;
    width: 100%;
    height: 10rem;
    border-bottom: 2px solid black;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-left: 3%;
}

h2 {
    font-size: 2rem;
}

header nav {
    margin-left: 5%;
}

header nav a {
    border: 1px solid #3b413c;
    background: #daf0ee;
    font-size: 1rem;
    margin: 0 auto;
}

.home {
    color: #daf0ee;
    background: #3b413c
}

nav a {
    text-decoration: none;
    color: #3b413c;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    margin: 0 -2%;
    align-items: flex-end;
}

.intro-img img{
    display: block;
    width: 100%;
    height: 100%;
    min-width: 0;
}

.intro section {
    margin: 0 2%;
}

.intro-text {
    max-width: 45%;
}

.projects-button {
    width: 50%;
    line-height: 2rem;
    height: auto;
    text-decoration: none;
    color: #3b413c;
    background-color: #daf0ee;
    margin: 6% auto;
    transition-duration: 0.4s;
}

.projects-button:hover {
    background: #3b413c;
    color: #daf0ee;
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    margin: 0 auto;
}

.project {
    display: flex;
    flex: 1 0 calc(100% / 5);
    margin: 1%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.project-img {
    max-width: 100%;
    height: auto;
}

.project-img:hover {
    box-shadow: 0 0 2px 1px #3b413c;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #9db5b2;
    width: 100%;
    height: 11rem;
    padding: 2rem 0;
}

footer nav a {
    transition-duration: 0.2s;
}

footer nav a:hover {
    color: #daf0ee
}

.contact-button {
    padding: 10%;
    text-decoration: none;
    color: black;
    background: #daf0ee;
    transition-duration: 0.4s;
}

.contact-button:hover {
    background: #3b413c;
    color: #daf0ee;
}

i {
    font-size: 4rem;
}